<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductListController</servlet-name>
        <servlet-class>controller.AdminProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductDetailController</servlet-name>
        <servlet-class>controller.AdminProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductDeleteController</servlet-name>
        <servlet-class>controller.AdminProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductCreateController</servlet-name>
        <servlet-class>controller.AdminProductCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipeDetailController</servlet-name>
        <servlet-class>controller.RecipeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagServlet</servlet-name>
        <servlet-class>controller.TagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagServlet</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeDetailController</servlet-name>
        <url-pattern>/recipe-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductListController</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductDetailController</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductDeleteController</servlet-name>
        <url-pattern>/admin/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductCreateController</servlet-name>
        <url-pattern>/admin/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
